course-info.yaml
course-remote-info.yaml
/venv
/.idea
Memorization Tool/Make your own flashcards
Memorization Tool/Store the flashcards
Memorization Tool/The Leitner system
Memorization Tool/Update the flashcards
lesson-info.yaml